---
import Carousel from "@components/Catalog/Carousel.astro";
---

<section class="hero">
	<h1 class="hero__title">Lo mas Nuevo</h1>
	<Carousel />
</section>

<style>
	.hero {
		height: calc(100vh - var(--navbar-height));
		position: relative;
	}
	.hero__title {
		position: absolute;
		top: 0;
		left: 50%;
		top: 30%;
		font-size: 4rem;
		transform: translateX(-50%);
		z-index: 1;
		color: var(--accent-color);
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
	@media screen and (min-width: 768px) {
	}
</style>
