---
import Button from "../components/Button.astro";
import Form from "../components/form/Form.astro";
import Input from "../components/form/Input.astro";
import MainLayout from "../layouts/MainLayout.astro";
// import bgContact from "@public/assets/img/contact/background-contact.webp";
---

<MainLayout title="Contacto">
	<section class="contact">
		<div class="contact__overlay"></div>
		<h1 class="contact__title">Contactanos</h1>
		<Form className="contact__form" title="Formulario de contacto">
			<Input name="Nombre" type="text" id="name" placeholder="Ingrese su nombre" />
			<Input name="Correo" type="email" id="email" placeholder="Ingrese su correo" />
			<Input name="Mensaje" type="textarea" id="message" placeholder="Escriba su mensaje" />
			<Button class="contact__form--button">Enviar</Button>
		</Form>
		<!-- <img src={bgContact.src} alt="" /> -->
	</section>
</MainLayout>
<style>
	.contact__form {
		justify-self: center;
	}
	.contact {
		align-content: center;
		position: relative;
		height: calc(100vh - var(--navbar-height));
		width: 100%;
	}
	.contact__title {
		text-align: center;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
	.contact__overlay {
		top: 0;
		z-index: -1;
		position: absolute;
		opacity: 0.4;
		width: 100%;
		height: 100%;
		background-image: url("public/assets/img/contact/background-contact.webp");
	}
	.contact__form--button {
		margin-top: 1rem;
	}
</style>
<script>
	const $form = document.querySelector(".contact__form");

	function validateForm() {}

	$form.addEventListener("submit", (e) => {
		e.preventDefault();
		validateForm();
	});
</script>
