---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Game">
    <div class="banner">
        <img src="https://media.rawg.io/media/screenshots/ac2/ac2d75c1b2ed0db7f12528a77a15fcea.jpg" alt="Elden Ring Banner">
    </div>
    <main class="game">
        <section class="game__hero">
            <div class="game__cover">
                <img src="https://media.rawg.io/media/games/b29/b294fdd866dcdb643e7bab370a552855.jpg" alt="Elden Ring Cover">
            </div>
            <div class="game__details">
                <h1 class="game__title">Elden Ring</h1>
                <p class="game__price">$36.43</p>
                <div class="game__actions">
                    <button class="game__button game__button--wishlist">
                        <img loading="lazy" src="/wishlist-icon.svg" alt="Wishlist Icon">
                    </button>
                    <button class="game__button game__button--buy">Comprar</button>
                </div>
            </div>
        </section>
        <section class="visuals">
            <h2 class="visuals__title">Visuales</h2>
            <div class="visuals__gallery">
                <picture class="visuals__item">
                    <source srcset="https://media.rawg.io/media/screenshots/36f/36f941f72e2b2a41629f5fb3bd448688.jpg" type="image/jpeg">
                    <img src="https://media.rawg.io/media/screenshots/36f/36f941f72e2b2a41629f5fb3bd448688.jpg" alt="Elden Ring Cover">
                </picture>
                <div class="visuals__row">
                    <picture class="visuals__item ">
                        <source srcset="https://media.rawg.io/media/screenshots/290/29096848622521df7555850000236cb6.jpg" type="image/jpeg">
                        <img src="https://media.rawg.io/media/screenshots/290/29096848622521df7555850000236cb6.jpg" alt="Elden Ring Cover">
                    </picture>
                    <picture class="visuals__item">
                        <source srcset="https://media.rawg.io/media/screenshots/807/807685454ea8fb87363eedd49677f49b.jpg" type="image/jpeg">
                        <img src="https://media.rawg.io/media/screenshots/807/807685454ea8fb87363eedd49677f49b.jpg" alt="Elden Ring Cover">
                    </picture>
                    <picture class="visuals__item">
                        <source srcset="https://media.rawg.io/media/screenshots/2ee/2eea4d4cce2836f689d9d39d2a4a94d5.jpg" type="image/jpeg">
                        <img src="https://media.rawg.io/media/screenshots/2ee/2eea4d4cce2836f689d9d39d2a4a94d5.jpg" alt="Elden Ring Cover">
                    </picture>
                </div>
            </div>
        </section>
        <section class="about">
            <h2 class="about__title">Acerca de</h2>
            <div class="about__content">
                <div class="about__description">
                    <p>The Golden Order has been broken.</p>
                    <p>Rise, Tarnished, and be guided by grace to brandish the power of the Elden Ring and become an Elden Lord in the Lands Between.</p>
                    <br>
                    <p>In the Lands Between ruled by Queen Marika the Eternal, the Elden Ring, the source of the Erdtree, has been shattered.</p>
                    <p>Marika&#39;s offspring, demigods all, claimed the shards of the Elden Ring known as the Great Runes, and the mad taint of their newfound strength triggered a war: The Shattering. A war that meant abandonment by the Greater Will.</p>
                    <br>
                    <p>And now the guidance of grace will be brought to the Tarnished who were spurned by the grace of gold and exiled from the Lands Between. Ye dead who yet live, your grace long lost, follow the path to the Lands Between beyond the foggy sea to stand before the Elden Ring.</p>
                </div>
                <div class="about__info">
                    <table class="about__table">
                        <tbody>
                            <tr>
                                <th>Desarrollador:</th>
                                <th class="about__table-value">FromSoftware</th>
                            </tr>
                            <tr>
                                <th>Distribuidor:</th>
                                <th class="about__table-value">Bandai Namco Entertainment, FromSoftware</th>
                            </tr>
                            <tr>
                                <th>Lanzamiento:</th>
                                <th class="about__table-value">2022-02-25</th>
                            </tr>
                            <tr>
                                <th>Generos:</th>
                                <th class="about__table-value">Action, RPG</th>
                            </tr>
                            <tr>
                                <th>Plataformas:</th>
                                <th class="about__table-value">PC, PlayStation, Xbox</th> 
                            </tr>
                            <tr>
                                <th>Website:</th>
                                <th class="about__table-value"><a href="https://en.bandainamcoent.eu/elden-ring/elden-ring">Elden Ring</a></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="expansions">
            <h2 class="expansions__title">Extensiones</h2>
            <div class="expansions__list">
                <div class="expansions__item">
                    <picture class="expansions__image">
                        <source srcset="https://media.rawg.io/media/screenshots/0ba/0bae7160eedc1f7d85a8d2db70cf1ec9.jpg" type="image/jpeg">
                        <img src="https://media.rawg.io/media/screenshots/0ba/0bae7160eedc1f7d85a8d2db70cf1ec9.jpg" alt="Elden Ring Cover">
                    </picture>
                    <p class="expansions__name">Elden Ring: Shadow of the Erdtree</p>
                </div>
                <div class="expansions__item">
                    <picture class="expansions__image">
                        <source srcset="https://media.rawg.io/media/screenshots/0ba/0bae7160eedc1f7d85a8d2db70cf1ec9.jpg" type="image/jpeg">
                        <img src="https://media.rawg.io/media/screenshots/0ba/0bae7160eedc1f7d85a8d2db70cf1ec9.jpg" alt="Elden Ring Cover">
                    </picture>
                    <p class="expansions__name">Elden Ring: Shadow of the Erdtree</p>
                </div>
            </div>
        </section>
        <section class="requirements">
            <h2 class="requirements__title">Requisitos para PC</h2>
            <div class="requirements__content">
                <div class="requirements__block">
                    <h3 class="requirements__subtitle">Mínimos</h3>
                    <ul class="requirements__list">
                        <li class="requirements__item">Sistema Operativo: <span>Windows 7 o superior</span></li> 
                        <li class="requirements__item">Procesador: <span>Intel Core i3 o superior</span></li>
                        <li class="requirements__item">Memoria: <span>4 GB de RAM</span></li>
                        <li class="requirements__item">Tarjeta gráfica: <span>NVIDIA GeForce GTX 660 o superior</span></li>
                        <li class="requirements__item">Almacenamiento: <span>500 GB de espacio libre</span></li>
                    </ul>
                </div>
                <div class="requirements__block">
                    <h3 class="requirements__subtitle">Recomendados</h3>
                    <ul class="requirements__list">
                        <li class="requirements__item">Sistema Operativo: <span>Windows 10 o superior</span></li>
                        <li class="requirements__item">Procesador: <span>Intel Core i5 o superior</span></li>
                        <li class="requirements__item">Memoria: <span>8 GB de RAM</span></li>
                        <li class="requirements__item">Tarjeta gráfica: <span>NVIDIA GeForce GTX 1060 o superior</span></li>
                        <li class="requirements__item">Almacenamiento: <span>1 TB de espacio libre</span></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <!-- Comentarios -->
</MainLayout>


<style>

    :root {
        --primary-color: oklch(96.82% 0.002 325.59);
        --secondary-color: oklch(70.14% 0.002 145.56);
        --accent-color: oklch(70.09% 0.201 44.77);
        --primary-background-color: oklch(27.27% 0.000 0);
        --secondary-background-color: oklch(22.93% 0.002 145.50);
        --button-color: linear-gradient(180deg, oklch(63.49% 0.251 28.81), oklch(78.48% 0.166 66.11));
    }

    /* ==== BANNER ==== */
    .banner {
        display: none;
    }

    .banner img {
        width: 100%;
    }

    /* ==== GAME HERO ==== */
    .game__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .game__title {
        font-size: 2rem;
    }

    .game__price {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--accent-color);
    }

    .game__actions {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }

    .game__button {
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 4px;

        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--button-color);
        color: var(--primary-color)
    }

    .game__button--wishlist img {
        width: 20px;
        height: 20px;
    }

    /*.game__button--buy {
        background: var(--button-color);
    }

    .game__button--wishlist {
        background: var(--button-color);
        color: #000;
    
        img {
            width: 20px;
            height: 20px;
        }
    }*/

    /* ==== VISUALS ==== */
    .visuals {
        padding: 2rem;
    }

    .visuals__title {
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .visuals__gallery {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .visuals__row {
        display: flex;
        gap: 1rem;
    }

    .visuals__item img {
        width: 100%;
        border-radius: 6px;
    }

    /* ==== ABOUT ==== */
    .about {
        padding: 2rem;
    }

    .about__title {
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .about__description {
        margin-bottom: 2rem;
        color: var(--secondary-color);
    }

    .about__table th {
        text-align: left;
        padding: 0.5rem 1rem 0.5rem 0;
        vertical-align: top;

        a {
            color: var(--accent-color);
        }
    }

    .about__table-value {
        font-weight: normal;
        color: var(--secondary-color);
    }

    /* ==== EXPANSIONS ==== */
    .expansions {
        padding: 2rem;
    }

    .expansions__title {
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .expansions__list {
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        padding-bottom: 1rem;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .expansions__list::-webkit-scrollbar {
        display: none;
    }

    .expansions__item {
        background-color: var(--secondary-background-color);
        border-radius: 7px;
        width: 250px;

        flex: 0 0 auto;
    }

    .expansions__image img {
        width: 100%;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;    
    }

    .expansions__name {
        margin: 1rem;
        font-weight: bold;
    }

    /* ==== REQUIREMENTS ==== */
    .requirements {
        padding: 2rem;
    }

    .requirements__title {
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .requirements__block {
        margin-bottom: 2rem;
    }

    .requirements__subtitle {
        color: var(--accent-color);
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
    }

    .requirements__list {
        list-style: disc inside;
        padding-left: 1rem;
    }

    .requirements__item {
        margin-bottom: 0.5rem;
        font-weight: bold;

        span {
            color: var(--secondary-color);
            font-weight: normal;
        }
    }


    @media (min-width: 768px) {
        .banner {
            display: block;
            position: relative;
            width: 100%;

            img {
                height: 200px;
                object-fit: cover;
                display: block;
            }
        }

        /* ==== GAME HERO ==== */

        .game {
            position: relative;
            top: -10rem;
            z-index: 1;
            margin-bottom: -10rem;
        }

        .game__hero {
            width: 80vw;
            margin: 0 auto;
        }

        .game__cover img{
            box-shadow: 0px 0px 100px 40px #00000066;
            -webkit-box-shadow: 0px 0px 100px 40px #00000066);
            -moz-box-shadow: 0px 0px 100px 40px #00000066;

            border-radius: 10px;
            background: var(--secondary-background-color);
        }

        .game__title {
            font-size: 2.5rem;
        }

        .game__price {
            font-size: 2rem;
        }

        .game__button {
            height: 50px;
            font-size: 1.25rem;
        }

        .game__button--wishlist img {
            width: 30px;
            height: 30px;
        }

        /* ==== VISUALS ==== */
        .visuals__title {
            font-size: 1.8rem;
        }

        /* ==== ABOUT ==== */
        .about__title {
            font-size: 1.8rem;
        }

        .about__description, .about__info {
            font-size: 1.2rem;
        }

        /* ==== EXPANSIONS ==== */
        .expansions__title {
            font-size: 1.8rem;
        }

        .expansions__item {
            width: 300px;
        }

        .expansions__name {
            font-size: 1.2rem;
        }

        /* ==== REQUIREMENTS ==== */
        .requirements__title {
            font-size: 1.8rem;
        }

        .requirements__subtitle {
            font-size: 1.6rem;
        }

        .requirements__list {
            font-size: 1.2rem;
        }
        
    }

    @media (min-width: 1024px) {
        .banner img {
            height: 300px;
        }

        .game {
            /*top: -9rem;
            margin-bottom: -9rem;*/
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
        }

        .game__hero {
            padding: 0 2rem;
            padding-bottom: 2rem;
            
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
        }

        .game__cover img {
            height: 350px;
        }

        .game__details {
            backdrop-filter: blur(60px);
            padding: 2rem;
            border-radius: 15px;
        }

        /* ==== VISUALS ==== */
        .visuals__gallery {
            flex-direction: row;
            justify-content: center;
        }

        /* ==== ABOUT ==== */
        .about__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
        }

        /* ==== REQUIREMENTS ==== */
        .requirements__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
        }

    }

</style>